.app-buttons-block{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;

	.app-btn{
		margin-bottom: 10px;

		&:not(:last-child){
			margin-right: 10px;
		}
	}
}

.app-btn{
	display: block;

	img{
		height: 50px;
		width: auto;
		display: block;
	}

	&.small{
		img{
			height: 38px;
		}
	}

	&:hover,
	&:focus{
		transform: rotate(-3deg);
	}
}