.btn{
	text-align: center;
	min-height: 50px;

	border: 0;
	border-radius: 25px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all var(--t);
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	position: relative;
	overflow: hidden;

	font-family: var(--main-font);
	@include button-text;

	background: var(--dark);
	color: #fff;

	.btn-text{
		padding: 15px 30px;
		position: relative;
		display: block;

		&:after{
			content: attr(data-text);
			display: block;
			position: absolute;
			width: inherit;
			height: inherit;
			padding: inherit;
			left: 100%;
			top: 0;
		}
	}

	&:hover,
	&:focus{
		outline: none;

		.btn-text{
			animation: btnHover 1.5s linear infinite;
			animation-play-state: running;
		}
	}

	@keyframes btnHover{
		0%{
			transform: translateX(0);
		}

		100%{
			transform: translateX(-100%);
		}
	}
}