.payment-security-section{
	padding: 100px 0;
	background: var(--light);

	@media screen and (max-width: 1229px){
		padding: 80px 0;
	}

	@media screen and (max-width: 991px){
		padding: 60px 0;
	}
}

.payment-security-block{
	max-width: 685px;

	.block-caption{
		@include h5;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.block-text{
		@include p-small;
		margin-bottom: 20px;
	}

	.block-image{
		img{
			height: 44px;
			width: auto;
			display: block;
			object-fit: contain;
			object-position: left center;
		}
	}

	@media screen and (max-width: 1229px){
		max-width: unset;

		.block-text{
			br{
				display: none;
			}
		}
	}

	@media screen and (max-width: 767px){
		.block-image{
			img{
				height: 36px;
				max-width: 100%;
			}
		}
	}
}