.reviews-section{
	background: var(--dark);
	padding: 130px 0;
	color: #fff;

	.section-header{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	.section-caption{
		margin-bottom: 0;
	}

	.section-inner{
		display: grid;
		grid-template-columns: 380px calc(100% - 380px - 30px);
		grid-gap: 30px;
	}

	.slider-nav{
		display: flex;
		align-items: center;
		padding-right: 17px;

		.slick-arrow{
			position: static;
			transform: translateY(0);
		}
	}

	.numbers-nav{
		@include h5;
		margin-left: 13px;
		margin-right: 13px;
	}

	@media screen and (max-width: 1229px){
		padding: 110px 0;

		.section-header{
			margin-bottom: 30px;
		}

		.slider-nav{
			padding-bottom: 7px;
			padding-right: 15px;
		}

		.section-inner{
			grid-template-columns: calc(33.333% - 10px) calc(66.667% - 10px);
			grid-gap: 20px;
		}
	}

	@media screen and (max-width: 991px){
		padding: 90px 0;

		.slider-nav{
			padding-right: 45px;
		}

		.section-inner{
			grid-template-columns: calc(50% - 10px) calc(50% - 10px);
		}
	}
}

.products-slider-wrapper{
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(#fff, .1);
		border-radius: var(--r);
		transform: rotate(-6.82deg);
	}

	@media screen and (max-width: 1229px){
		&:before{
			max-height: 418px;
			top: 5px;
			left: -5px;
		}
	}

	@media screen and (max-width: 991px){
		&:before{
			max-height: unset;
		}
	}
}

.products-slider{
	width: 100%;
	border-radius: var(--r);
	overflow: hidden;
	position: relative;
	z-index: 2;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		display: block;
	}

	@media screen and (max-width: 1229px){
		img{
			min-height: 432px;
		}
	}

	@media screen and (max-width: 991px){
		img{
			min-height: 378px;
		}
	}
}

.reviews-slider{
	width: calc(100% + 50% + 15px * 2 + 15px);
	margin-left: -15px;
	margin-right: calc(-50% - 15px);

	.slide{
		padding: 0 15px;
	}

	@media screen and (max-width: 1229px){
		width: calc(100% + 50% + 10px * 2 + 10px);
		margin-left: -10px;
		margin-right: -10px;
		
		.slide{
			padding: 0 10px;
		}
	}

	@media screen and (max-width: 991px){
		width: calc(100% + 100% + 10px * 4);
		margin-right: -100px;
	}
}

.review-card{
	border-radius: var(--r);
	background: rgba(#fff, .1);
	min-height: 418px;
	padding: 50px;
	display: flex;
	flex-direction: column;

	.card-rating{
		height: 20px;
		background: url(../img/icons/star.png) repeat-x left center / contain;
		margin-bottom: 20px;

		&[data-rating="1"]{
			width: calc(26px * 1 - 6px);
		}

		&[data-rating="2"]{
			width: calc(26px * 2 - 6px);
		}

		&[data-rating="3"]{
			width: calc(26px * 3 - 6px);
		}

		&[data-rating="4"]{
			width: calc(26px * 4 - 6px);
		}

		&[data-rating="5"]{
			width: calc(26px * 5 - 6px);
		}
	}

	.card-text{
		margin-bottom: 20px;
	}

	.card-author{
		margin-top: auto;
		@include p-small;
	}

	@media screen and (max-width: 1229px){
		padding: 40px;
		min-height: 432px;
	}

	@media screen and (max-width: 991px){
		min-height: 378px;
	}
}