.header{
	padding: 20px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background: #fff;
	transition: padding-top var(--t), padding-bottom var(--t), box-shadow var(--t), background var(--t);

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;
		
		.header-block{
			padding: 0 15px;

			&.with-language-select{
				display: flex;
				align-items: center;

				.language-select-block{
					margin-left: 40px;
				}
			}
		}
	}

	&.sticky{
		padding: 10px 0;
		box-shadow: 0 1px 0 var(--light);
	}

	&.nav-opened{
		background: transparent;
		box-shadow: unset;
	}

	@media screen and (max-width: 1229px){
		.header-inner{
			width: calc(100% + 10px * 2);
			margin-left: -10px;
			margin-right: -10px;
			
			.header-block{
				padding: 0 10px;

				&.with-language-select{
					.language-select-block{
						margin-left: 5px;
					}
				}
			}
		}
	}
}

.logo-block{
	display: flex;
	position: relative;

	img{
		height: 50px;
		width: auto;
		display: block;
		transition: all var(--t);
	}

	.white{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	&:hover,
	&:focus{
		transform: rotate(-3deg);
	}

	.nav-opened &{
		img{
			visibility: hidden;
			opacity: 0;
		}

		.white{
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	@media screen and (max-width: 1229px){
		img{
			height: 34px;
		}
	}

	@media screen and (max-width: 991px){
		img{
			height: 38px;
		}
	}
}

.top-nav{
	> ul{
		display: flex;
		@include button-text;

		li{
			a{
				display: block;
				color: inherit;
				padding: 10px;

				&:hover,
				&:focus-visible,
				&.active{
					color: var(--primary);
				}

				@media screen and (max-width: 1229px){
					padding: 5px;
				}
			}
		}
	}
}

.language-select-block{
	position: relative;

	.block-opener{
		@include button-text;
		display: flex;
		align-items: center;

		.btn-text{
			display: block;
			line-height: 24px;
		}

		.btn-icon{
			width: 24px;
			height: 24px;
			display: block;
			fill: currentcolor;
			transition: transform var(--t);
		}
	}

	.block-hidden-content{
		display: grid;
		grid-gap: 8px;
		padding: 16px 20px;
		background: #fff;
		box-shadow: 0px 4px 50px #E7E7E7;
		border-radius: 10px;

		@include button-text;

		position: absolute;
		left: 50%;
		top: calc(100% + 8px);
		transform: translate(-50%, 30px);
		transition: all var(--t);

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 8px;
			position: absolute;
			left: 0;
			bottom: 100%;
		}

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: var(--primary);
			}
		}
	}

	&:hover,
	&:focus-within{
		.block-opener{
			color: var(--primary);

			.btn-icon{
				transform: rotate(-180deg);
			}
		}

		.block-hidden-content{
			transform: translate(-50%, 0);
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
}

.mobile-top-nav{
	z-index: 95;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--primary);
	color: #fff;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: all var(--t);
	overflow-y: auto;
	overscroll-behavior-y: contain;

	&.opened{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.nav-inner{
		padding: 138px 0 80px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.nav-menu{
		display: grid;
		grid-gap: 20px;
		margin-bottom: 30px;

		li{
			a{
				@include h2;
				text-transform: uppercase;
				color: inherit;
				display: block;
			}
		}
	}
}

.languages-list{
	display: flex;
	margin-bottom: 40px;

	li{
		margin-right: 10px;

		&:last-child{
			margin-right: 0;
		}

		a{
			font-size: 14px;
			line-height: 1.4;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			border-bottom: 1px solid transparent;
			color: inherit;

			&.current{
				border-bottom-color: #fff;
				pointer-events: none;
			}
		}
	}
}